[Desktop Entry]
Type=Application
Name=Komble
GenericName=App Store
Comment=Install packages from your repositories, the AUR and AppImageHub
Exec=komble
Icon=komble
Terminal=false
Categories=System;PackageManager;Utility;
Keywords=package;install;software;store;pacman;aur;appimage;
StartupWMClass=Komble
